@media (max-width:300px) {
    .custom-css {
        border: 2px solid black;
        height: 190px;
        width: 100px;
        display: inline-block;
    }
    .c-css {
        justify-content: center;
        justify-items: center;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    .paddding-top {
        margin-top: 5px;
        font-size: 80px;
        margin-bottom: 5px;
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: center;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
    .tg-0pky {
        border: 2px solid black;
        height: 190px;
        width: 201px;
        /* display: inline-block; */
        margin: 5px;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width:300px) and (max-width:500px) {
    .custom-css {
        border: 2px solid black;
        height: 190px;
        width: 100px;
        display: inline-block;
    }
    .c-css {
        justify-content: center;
        justify-items: center;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    .paddding-top {
        margin-top: 5px;
        font-size: 80px;
        margin-bottom: 5px;
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: center;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
    .tg-0pky {
        border: 2px solid black;
        height: 190px;
        width: 201px;
        /* display: inline-block; */
        margin: 5px;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width:500px) and (max-width:800px) {
    .custom-css {
        border: 2px solid black;
        height: 190px;
        width: 100px;
        display: inline-block;
    }
    .c-css {
        justify-content: center;
        justify-items: center;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    .paddding-top {
        margin-top: 5px;
        font-size: 80px;
        margin-bottom: 5px;
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: center;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
    .tg-0pky {
        border: 2px solid black;
        height: 190px;
        width: 201px;
        display: inline-block;
        margin: 5px;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width:800px) {
    .custom-css {
        border: 2px solid black;
        height: 190px;
        width: 100px;
        display: inline-block;
    }
    .c-css {
        justify-content: center;
        justify-items: center;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    .paddding-top {
        margin-top: 5px;
        font-size: 80px;
        margin-bottom: 5px;
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: center;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
    .tg-0pky {
        border: 2px solid black;
        height: 190px;
        width: 201px;
        display: inline-block;
        margin: 5px;
    }
    .center-custum {
        justify-content: center;
        text-align: center;
        justify-items: center;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.tracking-in-contract-bck {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
* Generated by Animista on 2021-6-20 11:23:3
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-contract-bck
* ----------------------------------------
*/

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.zoomIn {
    height: 100%;
    width: 100%;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 0;
    }
}

.text {
    padding: 10px;
}

#text {
    font-family: ABeeZee, sans-serif;
    font-size: 46px;
    font-weight: 400;
    color: rgba(117, 194, 24, 1);
    text-transform: uppercase;
    font-style: oblique;
    text-decoration: underline;
    /* line-height: 5.7em; */
    letter-spacing: 0px;
    text-shadow: -20px 2px 39px rgba(66, 126, 255, 1);
}

.win-text {
    font-family: Artifika, serif;
    font-size: 46px;
    font-weight: 400;
    color: rgba(72, 24, 194, 1);
    text-transform: uppercase;
    font-style: oblique;
    text-decoration: underline;
    /* line-height: 5.7em; */
    letter-spacing: 0px;
    text-shadow: -20px 2px 39px rgba(66, 126, 255, 1);
}

.btn {
    background-color: cadetblue;
}

.win-class {
    display: none;
}
